input {
    width: 300px;
    height: 25px;
    text-align: center;
    font-size: 25px;
  }
  #movies img {
    height: 200px;
    width: 330px;
  
    margin-top: 20px;
  
    margin-top: 0px;
    color: black;
  }
  #movies p {
    width: 500px;
  }
  